.tour-slider {
  overflow: hidden;

  .slick-dotted.slick-slider {
    margin-bottom: 50px;
  }

  .slick-dots {
    bottom: -40px;

    li button:before {
      font-family: 'slick';
      font-size: 20px;
      color: map_get($colors, 'secondary');

    }

    li.slick-active button:before {
      color: map_get($colors, 'primary');
    }
  }
}




@include media-breakpoint-up(md) {
  .tour-slider{
    .slick-dotted.slick-slider {
      max-width: 750px;
      margin-left: auto;
      margin-right: auto;
    }
  }


}

@include media-breakpoint-up(lg) {
  .tour-slider{
    .slick-slider {
      .slick-next {
        right: -50px;
      }

      .slick-prev {
        left: -50px;
      }

      .slick-next, .slick-prev {
        &:before {
          color: #666;
        }
      }

    }
  }
}
